In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
train_dataset=pd.read_csv("train.csv")
test_dataset=pd.read_csv("test.csv")

In [ ]:
train_dataset.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [ ]:
train_dataset.tail()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
1199995,1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,...,NaN,5.0,372.0,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0
1199996,1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,...,NaN,10.0,597.0,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0
1199997,1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,...,0.0,19.0,NaN,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0
1199998,1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,...,1.0,7.0,407.0,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0
1199999,1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,...,0.0,18.0,502.0,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0

In [ ]:
train_dataset.shape

(1200000, 21)

In [ ]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [ ]:
missing_values=train_dataset.isnull().sum()
print(missing_values)

id                           0
Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [ ]:
missing_values=train_dataset.isnull().mean()*100
print(missing_values)

id                       0.000000
Age                      1.558750
Gender                   0.000000
Annual Income            3.745750
Marital Status           1.544083
Number of Dependents     9.139333
Education Level          0.000000
Occupation              29.839583
Health Score             6.173000
Location                 0.000000
Policy Type              0.000000
Previous Claims         30.335750
Vehicle Age              0.000500
Credit Score            11.490167
Insurance Duration       0.000083
Policy Start Date        0.000000
Customer Feedback        6.485333
Smoking Status           0.000000
Exercise Frequency       0.000000
Property Type            0.000000
Premium Amount           0.000000
dtype: float64

In [ ]:
train_dataset.duplicated().sum()

0

In [ ]:
train_dataset=train_dataset.drop("id",axis=1)

In [ ]:
columns_to_impute=['Age', 'Gender', 'Annual Income', 'Marital Status', 'Occupation', 'Number of Dependents', 'Education Level', 'Health Score', 'Location', 'Policy Type', 'Vehicle Age', 'Credit Score', 'Insurance Duration', 'Policy Start Date', 'Customer Feedback', 'Smoking Status', 'Exercise Frequency', 'Property Type', 'Previous Claims']
for i in columns_to_impute:
  if train_dataset[i].dtype=='object':
    train_dataset[i]=train_dataset[i].fillna(train_dataset[i].mode()[0])
  else:
    train_dataset[i]=train_dataset[i].fillna(train_dataset[i].mean())

In [ ]:
test_dataset.shape

(800000, 20)

In [ ]:
missing_values=test_dataset.isnull().sum()
print(missing_values)

id                           0
Age                      12489
Gender                       0
Annual Income            29860
Marital Status           12336
Number of Dependents     73130
Education Level              0
Occupation              239125
Health Score             49449
Location                     0
Policy Type                  0
Previous Claims         242802
Vehicle Age                  3
Credit Score             91451
Insurance Duration           2
Policy Start Date            0
Customer Feedback        52276
Smoking Status               0
Exercise Frequency           0
Property Type                0
dtype: int64

In [ ]:
missing_values=test_dataset.isnull().mean()*100
print(missing_values)

id                       0.000000
Age                      1.561125
Gender                   0.000000
Annual Income            3.732500
Marital Status           1.542000
Number of Dependents     9.141250
Education Level          0.000000
Occupation              29.890625
Health Score             6.181125
Location                 0.000000
Policy Type              0.000000
Previous Claims         30.350250
Vehicle Age              0.000375
Credit Score            11.431375
Insurance Duration       0.000250
Policy Start Date        0.000000
Customer Feedback        6.534500
Smoking Status           0.000000
Exercise Frequency       0.000000
Property Type            0.000000
dtype: float64

In [ ]:
test_dataset=test_dataset.drop('id',axis=1)

In [ ]:
columns_to_impute=['Age', 'Gender', 'Annual Income', 'Marital Status', 'Occupation', 'Number of Dependents', 'Education Level', 'Health Score', 'Location', 'Policy Type', 'Vehicle Age', 'Credit Score', 'Insurance Duration', 'Policy Start Date', 'Customer Feedback', 'Smoking Status', 'Exercise Frequency', 'Property Type', 'Previous Claims']
for i in columns_to_impute:
  if test_dataset[i].dtype=='object':
    test_dataset[i]=test_dataset[i].fillna(test_dataset[i].mode()[0])
  else:
    test_dataset[i]=test_dataset[i].fillna(test_dataset[i].mean())

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [ ]:
for i in train_dataset.columns:
  if train_dataset[i].dtype=='object':
    train_dataset[i]=labelencoder.fit_transform(train_dataset[i])
for i in test_dataset.columns:
  if test_dataset[i].dtype=='object':
    test_dataset[i]=labelencoder.fit_transform(test_dataset[i])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [ ]:
for i in train_dataset.columns:
  if train_dataset[i].dtype!='object':
    train_dataset[i]=scaler.fit_transform(train_dataset[i].values.reshape(-1,1))
for i in test_dataset.columns:
  if test_dataset[i].dtype!='object':
    test_dataset[i]=scaler.fit_transform(test_dataset[i].values.reshape(-1,1))

In [ ]:
train_dataset = train_dataset.drop(columns = 'Policy Start Date')
test_dataset = test_dataset.drop(columns = 'Policy Start Date')

In [ ]:
from sklearn.model_selection import train_test_split
y = train_dataset['Premium Amount']
X = train_dataset.drop('Premium Amount', axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state =42)

In [ ]:
from sklearn.metrics import mean_absolute_error ,mean_squared_error

In [ ]:
def evaluation_metrics(model,y_test,y_pred):
    mae = mean_absolute_error(y_pred,y_test)
    mse = mean_squared_error(y_pred,y_test)
    rmse = mse**0.5
    print("ML Model : ",model)
    print("Mean Absolute Error :",mae)
    print("Mean Absolute Error :",mse)
    print("Root mean Squared Error :",rmse)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
evaluation_metrics("Linear Regression",y_test,y_pred)

ML Model :  Linear Regression
Mean Absolute Error : 0.7714249131522195
Mean Absolute Error : 0.9960737738363971
Root mean Squared Error : 0.9980349562196692

In [ ]:
from sklearn.linear_model import SGDRegressor
sgd = SGDRegressor(max_iter=1241,random_state = 42)
sgd.fit(X_train,y_train)
y_pred = sgd.predict(X_test)
evaluation_metrics("SGD Regression",y_test,y_pred)

ML Model :  SGD Regression
Mean Absolute Error : 0.7709524843557705
Mean Absolute Error : 0.9973348515522203
Root mean Squared Error : 0.9986665367139426

In [ ]:
y_pred = sgd.predict(test_dataset)

In [ ]:
predict_dataset=pd.read_csv("test.csv")
submission_df=pd.DataFrame({
    'id':predict_dataset['id'],
    'Premium Amount':y_pred
})

In [ ]:
submission_df.to_csv('submission.csv', index=False)
print('Submission file saved!')

Submission file saved!